<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Target for logging Trace level messages -->
		<target name="traceFile" xsi:type="File" fileName="${currentdir}/logs/trace_${shortdate}.log"
                layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString}" />

		<!-- Target for logging Info level messages -->
		<target name="infoFile" xsi:type="File" fileName="${currentdir}/logs/info_${shortdate}.log"
                layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString}" />

		<!-- Target for logging Error level messages -->
		<target name="errorFile" xsi:type="File" fileName="${currentdir}/logs/error_${shortdate}.log"
                layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString}" />

		<!-- Target for logging to colored console -->
		<target name="console" xsi:type="ColoredConsole"
                layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString}">
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
		</target>
	</targets>

	<rules>
		<!-- Rule to log Trace level messages to traceFile -->
		<logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="traceFile" />

		<!-- Rule to log Info level messages to infoFile -->
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="infoFile" />

		<!-- Rule to log Error level messages to errorFile -->
		<logger name="*" minlevel="Error" maxlevel="Error" writeTo="errorFile" />
		
		<!-- Rule to direct all log messages to the console target -->
		<logger name="*" minlevel="Trace" writeTo="console" />
	</rules>

</nlog>
