* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}


.quote {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  font-size: 1.8em;
  min-width: 350px;
  max-width: 600px;


  background: black;
  text-align: center;
  padding: 20px;
}

p {
  animation-name: disp;
  animation-duration: 0.5s;
  font-family: 'Montserrat', sans-serif;
  color: white;
  user-select: none;
}

#q {
  display: inline-block;
  margin: 20px 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.quoteBody {
  background-image: url();
}

/* hides the checkbox */
#heart {
  display: none;
  font-size: xx-large;
}

/* changes the color when selected */
#heart:checked~label {
  color: red;
}

.btn-light{
  background-color: white !important;
  box-shadow: 2px 8px 10px 0px rgba(255,255,255,0.5) !important;
  color: black !important;
}